@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.navbar-nav .nav-item {
    margin-right: 25px;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding: 56px 0;
    border-right: 0.1px solid #E5EAEF;
    background-color: white;
  }
.sidebar a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
  }
  .sidebar li {
    border-radius: 20px;
    margin: 10px 0;
  }

  .sidebar li:hover {
    border: 1px solid #e9ecef;
  }
  .sidebar .active {
    background-color: #e9ecef;
  }

  .content {
    margin-left: 280px;
    padding: 20px;
  }
